<div class="container div_distance">
    <div class="row">
        <table id="game_table" class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                  <th style="display:none">id</th>
                  <th>發起人</th>
                  <th>球局</th>
                  <th>球場</th>
                  <th>開始時間</th>
                  <th>結束時間</th>
                  <th>備註</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of gameList; let i=index">
                    <td style="display:none"></td>
                    <td>{{item.sponsor}}</td>
                    <td>{{item.gameName}}</td>
                    <td>{{item.courtName}}</td>
                    <td>{{ item.startDate | date: 'yyyy/MM/dd HH:mm EE':'+0800' }}</td>
                    <td>{{item.endDate | date: 'yyyy/MM/dd HH:mm EE':'+0800' }}</td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" title="點我看更多" (click)="note(item.note)">
                        {{item.note}}
                    </td>
                    <td><button class="btn btn-secondary" [routerLink]="['/manage/chat',item.id]">聊天室</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
