<div id="message-alert" class="alert alert-danger large text-center fs-6" role="alert" style="visibility: hidden;">
</div>
<div class="wrapper">
    <div class="logo">
        <img src="assets/ball.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        <I>Ball Meet 球聚</I>
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input [(ngModel)]="loginValue.account" type="text" name="userName" id="userName" placeholder="使用者名稱">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input [(ngModel)]="loginValue.password" type="password" name="password" id="pwd" placeholder="密碼">
        </div>
        <button class="btn mt-3" (click)="login()">登入</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">忘記密碼?</a> 或 <a href="#">註冊</a>
    </div>
</div>
