<div class="container div_distance">

    <div class="row">
        <table id="game_table" class="table table-bordered" style="width:100%">

            <thead>
                <tr>
                  <th style="display:none">id</th>
                  <th>發起人</th>
                  <th>球局</th>
                  <th>球場</th>
                  <th>開始時間</th>
                  <th>結束時間</th>
                  <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="display:none"></td>
                    <td>{{game.sponsor}}</td>
                    <td>{{game.gameName}}</td>
                    <td>{{game.courtName}}</td>
                    <td>{{ game.startDate | date: 'yyyy/MM/dd HH:mm EE':'+0800' }}</td>
                    <td>{{ game.endDate | date: 'yyyy/MM/dd HH:mm EE':'+0800'}}</td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" title="點我看更多" (click)="note(game.note)">
                        {{game.note}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 聊天室 -->
<div class="main">
    <div class="container ">
      <div class="chat-log" #loadMessage>
        <!--動態產生訊息-->
      </div>

      <div class="chat-form">
        <div class="container ">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-sm-10 col-xs-9 col-lg-11">
                <input type="text" id="messageInfo" class="form-control" placeholder="輸入訊息" />
              </div>
              <div class="col-sm-2 col-xs-3 col-lg-1">
                <button type="submit" (click)="send()" class="btn btn-success btn-block">傳送</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    
  </div>