thead{
    color: whitesmoke;
    background-color: rgb(223, 138, 28);
}
.div_distance{
    margin-top: 100px;
}
.input-text:focus{
    box-shadow: 0px 0px 0px;
    border-color:rgb(223, 138, 28);
    outline: 0px;
}
.form-control {
    border: 1px solid gainsboro;
}
.btn-style{
    color: whitesmoke;
    background-color: rgb(223, 138, 28);
}
.contact-image{
    text-align: center;
}
.contact-image img{
    /* border-radius: 6rem; */
    width: 200px;
    /* margin-top: -3%; */
    /* transform: rotate(29deg); */
}
h3{
    /* margin-bottom: 8%; */
    /* margin-top: -20%; */
    text-align: center;
    color: #0062cc;
}