<div class="container contact-form">
    <!-- <div class="contact-image">
        <img src="assets/basketball.png" alt=""/>
    </div> -->
    <form>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    發起人
                    <input type="text" [(ngModel)]="gameValue.sponsor" name="txtName" class="form-control" placeholder="" value="" disabled/>
                </div>
                <p></p>
                <div class="form-group">
                    球局名稱
                    <input type="text" [(ngModel)]="gameValue.gameName" name="txtEmail" class="form-control" placeholder="" value="" />
                </div>
                <p></p>
                <div class="form-group">
                    球場名稱
                    <input type="text" [(ngModel)]="gameValue.courtName" name="txtCourt" class="form-control" placeholder="" value="" />
                </div>
                <p></p>
                <div class="form-group">
                    開始時間
                    <input type="datetime-local" id="startDate" name="startDate" class="form-control" placeholder="" value=""/>
                </div>
                <p></p>
                <div class="form-group">
                    結束時間
                    <input type="datetime-local" id="endDate" name="endDate" class="form-control" placeholder="" value=""/>
                </div>
                <p></p>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    備註
                    <textarea id="txtMsg" [(ngModel)]="gameValue.note" name="txtMsg" class="form-control" placeholder="" style="width: 100%; height: 350px;"></textarea>
                </div>
                <p></p>
                <div class="form-group" style="text-align: center;">
                    <button type="submit" name="btnSubmit" class="btn btn-danger btnContact" (click)="confirm()">新增球局</button>
                </div>
            </div>
            <div class="col-md-12">
                <div id="message-alert" class="alert alert-danger large text-center fs-6" role="alert" style="display:none">
                </div>
            </div>
        </div>
    </form>
</div>